USE [Proje6]
GO
/****** Object:  Table [dbo].[TBLHAREKET]    Script Date: 17.10.2023 12:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAREKET](
	[HAREKETID] [smallint] IDENTITY(1,1) NOT NULL,
	[URUN] [tinyint] NULL,
	[MUSTERI] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[FIYAT] [smallint] NULL,
 CONSTRAINT [PK_TBLHAREKET] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMUSTERILER]    Script Date: 17.10.2023 12:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERILER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ADSOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLPERSONEL]    Script Date: 17.10.2023 12:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLPERSONEL](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[PERSONELAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLPERSONEL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUNLER]    Script Date: 17.10.2023 12:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNLER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[STOK] [tinyint] NULL,
	[ALISFIYAT] [smallint] NULL,
	[SATISFIYAT] [smallint] NULL,
 CONSTRAINT [PK_URUNLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAREKET_TBLMUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[TBLHAREKET] CHECK CONSTRAINT [FK_TBLHAREKET_TBLMUSTERILER]
GO
ALTER TABLE [dbo].[TBLHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAREKET_TBLPERSONEL] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBLPERSONEL] ([ID])
GO
ALTER TABLE [dbo].[TBLHAREKET] CHECK CONSTRAINT [FK_TBLHAREKET_TBLPERSONEL]
GO
ALTER TABLE [dbo].[TBLHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAREKET_TBLURUNLER] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBLHAREKET] CHECK CONSTRAINT [FK_TBLHAREKET_TBLURUNLER]
GO
/****** Object:  StoredProcedure [dbo].[Proje6Procedure]    Script Date: 17.10.2023 12:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Proje6Procedure]
as
Select AD as 'Ürün Adı',ADSOYAD as'Müşteri Adı Soyadı' ,PERSONELAD as 'Personel Adı' ,FIYAT as'Ürün Fiyatı' from TBLHAREKET inner join TBLURUNLER
on TBLHAREKET.URUN = TBLURUNLER.ID
inner join TBLMUSTERILER
on TBLHAREKET.MUSTERI=TBLMUSTERILER.ID
inner join TBLPERSONEL
on TBLHAREKET.PERSONEL =TBLPERSONEL.ID
GO
